In [2]:
class Customer:
    title = ""
    fname = ""
    lname = ""
    isblacklisted = 0;
    name = ""
    code = ""

    def __init__(self):
        self.title = ""

    def __str__(self):
        return "Title:" + self.title + " First Name:" + self.fname + " Last Name:" + self.lname + " Blacklisted:" + self.isblacklisted

    def setIsblacklisted(self,isblacklisted):
        self.isblacklisted = isblacklisted

    def isblacklisted(self):
        return self.isblacklisted

    def setTitle(self,title):
        self.title = title

    def getTitle(self):
        return self.title

    def setFname(self,fname):
        self.fname = fname

    def getFname(self):
        return self.fname

    def setLname(self,lname):
        self.lname = lname

    def getLname(self):
        return self.lname
    
    def createOrder(self, name, code):
        self.name = name
        self.code = code

In [3]:
import pandas as pd 
import re
data = pd.read_csv("FairDealCustomerData.csv") 
data.head(5)

       Braund     Mr. Owen Harris   1
0   Heikkinen         Miss. Laina   0
1       Allen   Mr. William Henry   0
2       Moran           Mr. James   0
3    McCarthy       Mr. Timothy J   0
4     Bonnell     Miss. Elizabeth   0

In [4]:
import pandas as pd 
data = pd.read_csv("FairDealCustomerData.csv",names=['Brand','Name','Eligibility'])
df= pd.DataFrame(data)
print(df)

          Brand                   Name  Eligibility
0        Braund       Mr. Owen Harris             1
1     Heikkinen           Miss. Laina             0
2         Allen     Mr. William Henry             0
3         Moran             Mr. James             0
4      McCarthy         Mr. Timothy J             0
..          ...                    ...          ...
527    Banfield   Mr. Frederick James             0
528    Sutehall          Mr. Henry Jr             0
529    Montvila           Rev. Juozas             0
530        Behr       Mr. Karl Howell             0
531      Dooley           Mr. Patrick             0

[532 rows x 3 columns]

In [5]:
import pandas as pd 
import re
data = pd.read_csv("FairDealCustomerData.csv", names=['Brand','Name','Eligibility'])
df = pd.DataFrame(data)
df.head()
df.shape

(532, 3)

In [6]:
customer=[]
for i in range(1,533):
    customer.append(Customer())
len(customer)

532

In [7]:
index = 0
for i in df["Name"]:
    i = str(i)
    name_split=re.split(" ",i)
    customer[index].setTitle(name_split[1])
    customer[index].setFname(name_split[2])
    customer[index].setLname(name_split[3])
    
    index += 1
    

# print(index)

In [9]:
c=int(input("Enter the customer ID: "))

e = df.loc[c ,'Eligibility' ]
e = int(e)
print(e)

print("Title:",customer[c].getTitle())
print("First Name:",customer[c].getFname())
print("Last Name:",customer[c].getLname())

customer[c].setIsblacklisted(e)

if e == 1:
    print("Sorry, Customer black listed")
else:
    print("Customer allowed")
    productName = input("Enter Product Name: ")
    productCode = input("Enter Product Code: ")
    customer[c].createOrder(productName, productCode)
    print("Order taken successfully")

Enter the customer ID: 1
0
Title: Miss.
First Name: Laina
Last Name:
Customer allowed
Enter Product Name: Soap
Enter Product Code: 100
Order taken successfully