In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
ratings=pd.read_csv("BX-Book-Ratings.csv", nrows=10000)
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  10000 non-null  int64
 1   isbn     10000 non-null  object
 2   rating   10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 234.5+ KB

In [3]:
# books=pd.read_csv("BX-Books.csv", nrows=10000)

In [4]:
import chardet
with open("BX-Books.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.717981570018507, 'language': ''}

In [5]:
books=pd.read_csv("BX-Books.csv", encoding='ISO-8859-1')

c:\users\tejshree reddy\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   isbn                 271379 non-null  object
 1   book_title           271379 non-null  object
 2   book_author          271378 non-null  object
 3   year_of_publication  271379 non-null  object
 4   publisher            271377 non-null  object
dtypes: object(5)
memory usage: 10.4+ MB

In [7]:
import chardet
with open("BX-Users.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.7295640303728351, 'language': ''}

In [8]:
users=pd.read_csv("BX-Users.csv", encoding='ISO-8859-1')

c:\users\tejshree reddy\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278859 entries, 0 to 278858
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   278859 non-null  object
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), object(2)
memory usage: 6.4+ MB

In [10]:
df1 = pd.merge(ratings, books, 
                   on='isbn',
                   how='inner')

In [11]:
df2=pd.merge(df1,users,on='user_id',how='inner')

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              266 non-null    object
 1   isbn                 266 non-null    object
 2   rating               266 non-null    int64
 3   book_title           266 non-null    object
 4   book_author          266 non-null    object
 5   year_of_publication  266 non-null    object
 6   publisher            266 non-null    object
 7   Location             266 non-null    object
 8   Age                  136 non-null    float64
dtypes: float64(1), int64(1), object(7)
memory usage: 20.8+ KB

In [13]:
df2.user_id.unique()

array([99, 232, 243, 67, 14, 193, 242, 68, 26, 236, 51, 135, 23, 165, 75,
       114, 9, 39, 91, 185, 95, 125, 16, 207, 44, 224, 144, 169, 17, 69,
       2, 8, 10, 12, 19, 20, 22, 32, 36, 42, 53, 56, 64, 70, 73, 77, 78,
       79, 81, 82, 83, 85, 86, 87, 88, 92, 97, 102, 107, 109, 110, 129,
       132, 133, 139, 141, 151, 160, 162, 176, 178, 183, 190, 199, 202,
       204, 212, 215, 217, 226, 228, 230, 237, 241], dtype=object)

In [14]:
df2.dropna(inplace=True)

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 264
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              136 non-null    object
 1   isbn                 136 non-null    object
 2   rating               136 non-null    int64
 3   book_title           136 non-null    object
 4   book_author          136 non-null    object
 5   year_of_publication  136 non-null    object
 6   publisher            136 non-null    object
 7   Location             136 non-null    object
 8   Age                  136 non-null    float64
dtypes: float64(1), int64(1), object(7)
memory usage: 10.6+ KB

In [16]:
type(df2['user_id'][0])

int

In [17]:
df2['user_id']=df2.user_id.astype('str')

In [18]:
ratings=ratings.drop(['rating'],axis=1)

In [37]:
gdf=ratings.groupby('user_id').count()

In [38]:
gdf

         isbn
user_id
2           1
7           1
8          18
9           3
10          2
...       ...
278846      2
278849      4
278851     23
278852      1
278854      8

[941 rows x 1 columns]

In [41]:
records = []
for i in range(0, 10000):
    records.append([str(gdf.values[i,j]) for j in range(0, 5)])

IndexError: index 1 is out of bounds for axis 1 with size 1

In [23]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Using legacy 'setup.py install' for apyori, since package 'wheel' is not installed.
Installing collected packages: apyori
    Running setup.py install for apyori: started
    Running setup.py install for apyori: finished with status 'done'
Successfully installed apyori-1.1.2

WARNING: You are using pip version 21.2.3; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\tejshree reddy\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [24]:
from apyori import apriori
rules = apriori(transactions = gdf, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2, max_length = 2)

In [28]:
rules

In [30]:
results = pd.DataFrame(rules)

In [32]:
results.head()

Empty DataFrame
Columns: []
Index: []